@charset 'UTF-8';

html,
body {
    height: 100%;
}

body {
    background: $bg--gray;
    height: 100%;
    position: relative;
    width: 100%;
}

.sticky {
    background: $white;

    > .container-fluid {
        overflow: auto;
        top: 40px; // for battlehouse.com header
    }

    .inner-wrap {
        > .row {
            &.content {
                margin-right: 0; margin-left: 0; // for battlehouse.com header
                margin-bottom: -89px;
                min-height: 100%;
            }
        }
    }
}

.inner-wrap {
    height: 100%;

    &.sticky {
        overflow: auto;
    }

    > .row {
        &.main {
            height: 100%;
            position: relative;
        }
    }
}

.container-fluid {
    @include legacy-pie-clearfix;
    position: absolute; top: 0; bottom: 0; height: auto; width: 100%; // for battlehouse.com header
}

.channel-view-root {
    top: 40px !important; // for battlehouse.com header
}

.channel-view {
    @include clearfix;
    top: 0; bottom: 0; height: auto; // for battlehouse.com header
    position: absolute; // for battlehouse.com header
    width: 100%; // for battlehouse.com header
}

img {
    max-width: 100%;

    &.rounded {
        @include border-radius(100%);
    }
}
